* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #d4d4d4;
    color: rgb(0, 0, 0);
}

.blur-background {
    filter: blur(10px); /* Adjust the blur intensity as needed */
    transition: filter 0.5s ease-out; /* Smooth transition for blur */
    background-color: rgba(255, 255, 255, 0);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    height: 64px;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    gap: 30px;
    height: 75%;
}

.menu img:hover {
    cursor: pointer;
}

#profile {
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.5s ease-out; /* Transition for opacity */
    margin-top: -10%;
}

#profile.show {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Shows the element */
    transition: opacity 0.5s ease-out; /* Transition for opacity */
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.325);
    font-size: 30px;
}

.information {
    gap: 100px;
    margin-top: 10px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 64px;
    cursor: pointer;
}

.main_game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    margin-left: 4.5%;
    margin-right: 4.5%;
    padding: 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.124);
    font-size: 40px;
}

.word {
    display: inline-block;
    margin: 0;
    white-space: nowrap;
    margin-left: 1.5%;
    transition: color 0.3s ease;
}

.active {
    background-color: lightblue;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.letter {
    display: inline;
    margin: -5px;
}

.input {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-bottom: 20px;
    width: 88.3%;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.124);
}

#userInput {
    display: block;
}

.timer {
    display: flex;
    justify-content: space-between;
    margin-left: 4.5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 100px;
}

#ButtonAddTime {
    display: flex;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.143);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#ButtonAddTime:active {
    background-color: rgba(255, 0, 0, 0.384);
    display: flex;
    justify-content: space-between;
}


#ButtonAddTime:hover {
    background-color: rgba(255, 255, 255, 0.286);
    cursor: pointer;
}

#TimeChanger {
    display: none;
    justify-content: space-between;
    color: aliceblue;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.143);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#countdown {
    color: rgb(0, 0, 0);
}

.WordCount {
    display: flex;
}

.CharactersCount {
    display: flex;
}

#score {
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Initially hidden */
    transition: opacity, background-color 0.5s ease-out; /* Transition for opacity and background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 100px 200px;
    z-index: 99; /* Higher than any other elements */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.289);
    border-radius: 10px;
}

@media (max-width: 1600px) {
    #score {
        font-size: 25px;
        padding: 50px 100px;
    }
}

#StatsLeft, #StatsRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ScoreReload {
    text-decoration: none;
}

#score.show {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Shows the element */
}


#cookies {
    display: block;
    position: relative;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.5s ease-out; /* Transition for opacity */
}

#cookies.show {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Shows the element */
    transition: opacity 0.5s ease-out; /* Transition for opacity */
    position: sticky;
    bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px; 
    z-index: 99; /* Higher than any other elements */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgba(148, 147, 147, 0.835);
    margin-top: 10px;
}

#CookieOption {
    display: flex;
    gap: 100%;
    justify-content: center;
}

#AcceptCookies {
    color: aliceblue;
    margin-top: 50px;
    border-radius: 10%;
    font-size: 15px;
    background-color: rgba(248, 1, 1, 0.143);
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
}

#AcceptCookies:hover {
    background-color: rgba(248, 1, 1, 0.286);
    cursor: pointer;
}

#RejectCookies {
    color: aliceblue;
    margin-top: 50px;
    border-radius: 10%;
    font-size: 15px;
    background-color: rgba(34, 248, 1, 0.143);
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
}

#RejectCookies:hover {
    background-color: rgba(34, 248, 1, 0.286);
    cursor: pointer;
}

#temporary {
    display: block;
    position: relative;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.5s ease-out; /* Transition for opacity */
}

#temporary.show {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Shows the element */
    transition: opacity 2.5s ease-out; /* Transition for opacity */
    bottom: 1px;
    display: flex;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px 100px;
    padding: 100px; 
    z-index: 98; /* Higher than any other elements */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgba(148, 147, 147, 0.835);
}