<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/Redtype_mini_logo.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redtype</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main-content">
        <div class="navbar">
            <a href="{{ url_for('home') }}"><img class="logo" src="{{ url_for('static', filename='images/Redtype_logo_temp.png') }}"></a>
            <div class="menu">
                <img src="{{ url_for('static', filename='images/home.png') }}" class="Menu_home" onclick="home('/')" alt="Menu option 1: go to home">
                <img src="{{ url_for('static', filename='images/about.png') }}" onclick="about('/about')" alt="Menu option 2: go to about me">
                <img src="{{ url_for('static', filename='images/stats.png') }}" onclick="leaderboard_url('/leaderboard')" class="Menu_stats" alt="Menu option 3: go to stats">
                <img src="{{ url_for('static', filename='images/settings.png') }}" onclick="settings()" alt="Menu option 4: go to settings">
                <div class="user"><img src="{{ url_for('static', filename='images/log_in.png') }}" onclick="profile()" alt="Menu option 5: log inn or sign up">
                    <p id="usernames">
                        {% if username %}
                            Welcome, {{ username }}!
                        {% else %}
                            Welcome, Guest!
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="circle"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
        <div class="circle5"></div>
        <div id="settings">
            <img class="logo" src="{{ url_for('static', filename='images/Redtype_logo_temp.png') }}">
            <p>settings coming soon</p>
        </div>
        <div id="profile">
            <img class="logo" src="{{ url_for('static', filename='images/Redtype_logo_temp.png') }}">
            <p id="usernames">
                 {% if username %}
                <div class="profile_structure">
                    <p>Good evning, {{ username }}!</p>
                    <div class="profile_picture">
                         <img src="{{ url_for('static', filename='images/log_in.png') }}">
                         <p>change profile picture</p>
                    </div>
                </div>
                <a href="{{ url_for('logout') }}"> Click to Logout</a>
                {% else %}
                     hi, Guest! login to view this page
                    <div class="profile_guest">
                         <a href="{{ url_for('login') }}">(click to login)</a>
                         <a href="{{ url_for('register') }}">(Click to register)</a>
                    </div>
                {% endif %}
            </p>
        </div>
        <div class="main_game" id="game">
            <div id="words">
                {% for i in range(0, words|length) %}
                    <span class="word">{{ words[i] }}</span>
                {% endfor %}
            </div>
            <div id="words2">
                {% for i in range(0, words2|length) %}
                    <span class="word">{{ words2[i] }}</span>
                {% endfor %}
            </div>           
        </div>
        <div class="timer">
            <div id="countdown">
                <p></p>
            </div>
            <form id="timeForm">
                <input id="TimeChanger" type="text" placeholder="15">
                <button onclick="TimeOption()" id="TimeChanger2" type="submit">Submit</button>
            </form>
            <div>
                <div><button onclick="TimeOption()" id="ButtonAddTime" alt="change time">Custom time?</button></div>
            </div>
        </div>
        <input autofocus type="text" id="userInput" class="input" placeholder="Type here...">
        <div class="stats">
            <div class="WordCount">
                <div id="WordCount">
                </div>
            </div>
            <div class="CharactersCount">
                <div id="CharactersCount">
                </div>
            </div>
        </div>
    </div>
    <div id="score">
        <h1 class="scorestats">Your stats</h1>
        <div id="ScoreContent">
            <div id="StatsLeft">
                <div id="WpmCount">
                    <p></p>
                </div>
                <div id="WordCountStats">
                    <p></p>
                </div>
            </div>
            <div id="StatsRight">
                <div id="CharactersCountStats">
                    <p></p>
                </div>
                <div>
                    <p id="TimeSpent">Total time: 15 sec</p>
                </div>
            </div>
        </div>
        <div id="ScoreReload">
            <a href="/" id="retry" alt="retry button">Try Again</a>
        </div>
    </div>
    <div id="cookies">
        <h1>We use cookies to improve data</h1>
        <p>We use cookies to help personalize content for your need</p>
        <p>Ads and tailor and overall provide you the best experience</p>
        <p>By clicking Accept, you agree to this, as outlined cookie policy.</p>
        <p>If you chose to reject, you will automatically accept necessary cookies</p>
        <div id="CookieOption">
            <div id="CookieAccept">
                <button onclick="cookies()" id="AcceptCookies" alt="accept cookies button">Accept Cookies</button>
            </div>
            <div id="CookieReject">
                <button onclick="cookies()" id="RejectCookies" alt="Reject cookies button">Reject Cookies</button>
            </div>
        </div>
    </div>
    <div id="temporary">
        <h1>This site is temporary down</h1>
        <p>please come back soon!</p>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
