<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/Redtype_mini_logo.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redtype</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main-content">
        <div class="navbar">
            <img class="logo" src="{{ url_for('static', filename='images/redtype_logo.png') }}">
            <div class="menu">
                <img src="{{ url_for('static', filename='images/home.png') }}" class="Menu_home" onclick="home()"
                    alt="Menu option 1: go to home">
                <img src="{{ url_for('static', filename='images/about.png') }}" alt="Menu option 2: go to about me">
                <img src="{{ url_for('static', filename='images/stats.png') }}" class="Menu_stats"
                    alt="Menu option 3: go to stats">
                <img src="{{ url_for('static', filename='images/settings.png') }}" alt="Menu option 4: go to settings">
                <img src="{{ url_for('static', filename='images/log_in.png') }}" onclick="profile()"
                    alt="Menu option 5: log inn or sign up">
            </div>
        </div>
        <div id="profile">
            <img class="logo" src="{{ url_for('static', filename='images/redtype_simple_design_logo0923.png') }}">
            <p>Sign or log in to experience 100%</p>
            <div class="information">
                <p>Username</p>
                <input type="text" id="username" placeholder="Don't use your real name" required>
                <p>Password</p>
                <input type="password" id="password" placeholder="Atleast 8 letters" required>
                <p>Verify Password</p>
                <input type="password" id="Verify_password" placeholder="Repeat above" required>
                <p>Email</p>
                <input type="email" id="Email" placeholder="Example@gmail.com" required>
            </div>
        </div>
        <div id="words">
            {% for word in words %}
            <span class="word">{{ word }}</span>
            {% endfor %}
        </div>
        <input autofocus type="text" id="userInput" placeholder="Type here...">
        <div class="timer">
            <div id="countdown">
                <p></p>
            </div>
            <input id="TimeChanger" type="text" placeholder="15">
            <div><button onclick="TimeOption()" id="ButtonAddTime" alt="change time">Custom time?</button></div>
        </div>
        <div class="stats">
            <div class="WordCount">
                <div id="WordCount">
                </div>
            </div>
            <div class="CharactersCount">
                <div id="CharactersCount">
                </div>
            </div>
        </div>
    </div>
    <div id="score">
        <h1 class="scorestats">Your stats</h1>
        <div id="ScoreContent">
            <div id="StatsLeft">
                <div id="WpmCount">
                    <p></p>
                </div>
                <div id="WordCountStats">
                    <p></p>
                </div>
            </div>
            <div id="StatsRight">
                <div id="CharactersCountStats">
                    <p></p>
                </div>
                <div>
                    <p id="TimeSpent">Total time: 15 sec</p>
                </div>
            </div>
        </div>
        <div id="ScoreReload">
            <a href="/" id="retry" alt="retry button">Try Again</a>
        </div>
    </div>
    <div id="cookies">
        <h1>We use cookies to improve data</h1>
        <p>We steal all your time & data on this website to improve our data</p>
        <p>please give us all of your data if you know your best.........</p>
        <p>we promis that we most likely won't do anything with your data,</p>
        <p>but that's not a guarante keep this in your mind as you proceed</p>
        <div id="CookieOption">
            <div id="CookieAccept">
                <button onclick="cookies()" id="AcceptCookies" alt="accept cookies button">Accept Cookies</button>
            </div>
            <div id="CookieReject">
                <button onclick="cookies()" id="RejectCookies" alt="Reject cookies button">Reject Cookies</button>
            </div>
        </div>
    </div>
    <div id="temporary">
        <h1>This site is temporary down</h1>
        <p>please come back soon!</p>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>